*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;

}
.primary{
    background-color: #FF900E;
    border: none;
    padding: 21px 25px;
    font-size: 20px;
    border-radius: 8px;
}
/* Header CSS start */
header{
    background: rgba(255, 144, 14, 0.1);
}
.navbar-container{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    align-items: center;
}
.navbar-container .title{
    font-size: 45px;
}
.items{
    display: flex;
}
.item{
    font-size: 18px;
    margin-right: 40px;
}
/* Brand CSS start */
.brand-container{
    width: 55%;
    margin: 0 auto;
    text-align: center;
    padding-top: 102px;
}
.brand-container .title{
    font-size: 55px;
    font-weight: 700;
    padding-bottom: 20px;
}
.brand-container .description{
    padding-bottom: 28px;
    line-height: 25px;
}

/* Brand CSS end */
.banner-container img{
    padding: 50px 240px;
    width: 100%;
}
/* Header CSS end */
/* Feature CSS start */
.feature{
    padding: 0 130px;
}
.feature-top{
    display: flex;
    padding: 85px 200px 130px;
    align-items: center;
}
.feature-top-left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin-right: 50px;
}
.feature-top-left img{
    width: 100%;
}
.feature-top-right{
width: 71%!important;
}
.feature-top-right .title{
    font-size: 35px;
    padding-bottom: 24px;
    font-weight: 500;
    color: #727272;
}
.feature-top-right .first{
    color: #131313;
    font-weight: bold;
}
.feature-top-right .second{
    color: #FF900E;
    font-weight: bold;
}

.feature-top-right .description {
    padding-bottom: 30px;
    line-height: 20px;
    font-size: 14px;
    width: 123%;
    color: #727272;
}
.feature-bottom{
    display: flex;
    padding: 0 110px;
    align-items: top;
}
.feature-bottom-left {
    width: 68%;
    padding-right: 50px;
}
.feature-bottom-left .title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}
.feature-bottom-left .description {
    color: #727272;
    font-size: 13px;
    line-height: 20px;
}
.feature-bottom-left-feature{
    margin-top: 30px;
} 
.feature1, .feature2, .feature3, .feature4{
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.feature1 .title, .feature2 .title, .feature3 .title, .feature4 .title{
    font-size: 20px;
    border-left: 0!important;
    padding-left: 0;
}
.feature1 .description, .feature2.description, .feature3.description, .feature4.description {
    color: #727272;
    font-size: 13px;
}
.experience{
    background-color: #FF900E;
}
.experience p{
    text-align: center;
    width: 100%;
}
.feature-bottom-right img{
    width: 100%;
}
/* Feature CSS end */
/* Facts CSS Start */
.facts{
    margin:100px 240px;
}
.facts .title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.facts .description{
    width: 52%;
    margin-bottom: 100px;
    line-height: 22px;
}
.individual-facts{
    display: flex;
    text-align: center;
    gap: 70px;
    justify-content: center;
}
.individual-fact{
    border: 1px solid #FF900E;
    padding: 20px;
    border-radius: 8px;
}
.individual-fact p{
    font-size: 13px;
}
.individual-fact img{
    margin-bottom: 10px;
}
.individual-fact h3{
    margin-bottom: 10px;
    font-size: 30px;
}
/* Facts CSS End */
/* Sponsor CSS start */
.sponsor, .skill{
    padding: 0 130px;
}
.sponsor-details, .skill-details {
    text-align: center;
    margin: 0 auto 50px;
    width: 45%;
}
.sponsor-details h3, .skill-details h3{
    margin-bottom: 20px;
    font-size: 35px;
}
.sponsor-img{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}
/* Sponsor CSS End */
/* Skill plan style start */
.skill-box-container i{
    font-size: 30px;
    margin-bottom: 10px;
}
.skill-box-container{
    display: flex;
    justify-content: flex-start;
}
.skill-box-container{
    display: flex;
    text-align: left;
    gap: 15px;
    max-width: 1140px;
    margin: 0px auto 130px;
}
.skill-box1{
    background: rgba(79, 157, 166, 0.1);
    padding: 30px 12px;
}
.skill-box1 i{
    font-size: 30px;
    margin-bottom: 10px;
}
.skill-box1 .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.skill-box1 .description{
    font-size: 14px;
}
.skill-box2{
    background: rgba(255, 89, 89, 0.1);
    padding: 30px 12px;
}
.skill-box2 i{
    font-size: 30px;
    margin-bottom: 10px;
}
.skill-box2 .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.skill-box2 .description{
    font-size: 14px;
}
.skill-box3{
    background: #FFF4D6;
    padding: 30px 12px;
}
.skill-box3 i{
    font-size: 30px;
    margin-bottom: 10px;
}
.skill-box3 .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.skill-box3 .description{
    font-size: 14px;
}
/* Skill plan style end */
/* Footer CSS start */
footer {
    background: rgba(255, 144, 14, 0.1);
    margin: 0 130px;
    text-align: center;
    margin-bottom: 100px;
}
footer p{
    padding: 30px 0;
}
/* Footer CSS end */

/* Responsive CSS start */
@media only screen and (min-width: 500px) and (max-width: 575px){
    .navbar-container .title {
        font-size: 35px;
    }   
    .items {
        display: block;
    }
    .brand-container{
        width: 100%;
    }
    .brand-container .title{
        font-size: 25px;
        margin-top: -40px;
        padding-bottom: 10px;
    }
    .brand-container .description {
        padding: 0 25px 28px;
        line-height: 20px;
        font-size: 14px;
        width: 100%;
    }
    .banner-container img {
        padding: 40px 20px;
    }
    .feature, .sponsor {
        padding: 0;
    }
    .feature-top {
        padding: 50px 15px;
    }
    .feature-top-left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-right: 20px;
    }
    .primary {
        font-size: 15px!important;
        margin-top: -15px;
    }
    .facts .title {
        font-size: 35px;
    }
    .sponsor-details h3 {
        font-size: 30px;
    }
    footer {
        margin: 0 30px 80px;
    }
    footer p {
        font-size: 12px;
        padding: 10px;
        line-height: 16px;
    }
    .feature-top-right .title {
        font-size: 20px;
        padding-bottom: 15px;
        font-weight: 500;
        color: #727272;
    }
    .feature-top-right .description {
        width: 100%;
    }
    .feature-top-left{
        margin-right: 25px;
    }
    .primary {
        padding: 15px 17px;
        font-size: 20px;
    }
    .feature-bottom {
        padding: 0 18px;
        display: block;
        text-align: center;
    }
    .feature-bottom-left {
        width: 100%;
        padding-right: 0;
    }
    .feature-bottom-left .title{
        border: 0;
    }
    .feature-bottom-left .description {
        font-size: 16px;
        line-height: 24px;
    }
    .feature-bottom-right img {
        margin-top: 35px;
    }
    .facts {
        margin: 30px 30px;
    }
    .facts .title, .facts .description{
        text-align: center;
        width: 100%;
    }
    .facts .description{
        margin-bottom: 50px;
    }
    .individual-facts {
        display: grid;
        text-align: center;
        gap: 28px;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }
    .sponsor-details {
        text-align: center;
        margin: 0;
        width: 100%;
        padding: 15px 50px 0;
        line-height: 25px;
    }
    .sponsor-img img{
        width: 100px;
    }
    .sponsor-img {
        display: grid;
        margin: 25px auto 50px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
        gap: 20px;
        justify-items: stretch;
    }
    footer {
        margin: 0 50px 80px;
    }
    footer p {  
        font-size: 13px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .navbar-container .title {
        font-size: 35px;
    }   
    .items {
        display: block;
    }
    .brand-container{
        width: 100%;
    }
    .brand-container .title{
        font-size: 35px;
        margin-top: -40px;
        padding-bottom: 10px;
    }
    .brand-container .description {
        padding: 0 25px 28px;
        line-height: 20px;
        font-size: 14px;
        width: 100%;
    }
    .banner-container img {
        padding: 40px 20px;
    }
    .feature, .sponsor {
        padding: 0;
    }
    .feature-top {
        padding: 50px 15px;
    }


    .feature-top-left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-right: 20px;
    }
    .primary {
        font-size: 15px!important;
        margin-top: -15px;
    }
    .facts .title {
        font-size: 35px;
    }
    .sponsor-details h3 {
        font-size: 30px;
    }
    footer {
        margin: 0 30px 80px;
    }
    footer p {
        font-size: 12px;
        padding: 10px;
        line-height: 16px;
    }
    .feature-top-right .title {
        font-size: 20px;
        padding-bottom: 15px;
        font-weight: 500;
        color: #727272;
    }
    .feature-top-right .description {
        width: 100%;
    }
    .feature-top-left{
        margin-right: 25px;
    }
    .primary {
        padding: 15px 17px;
        font-size: 20px;
    }
    .feature-bottom {
        padding: 0 18px;
        display: block;
        text-align: center;
    }
    .feature-bottom-left {
        width: 100%;
        padding-right: 0;
    }
    .feature-bottom-left .title{
        border: 0;
    }
    .feature-bottom-left .description {
        font-size: 16px;
        line-height: 24px;
    }
    .feature-bottom-right img {
        margin-top: 35px;
    }
    .facts {
        margin: 30px 30px;
    }
    .facts .title, .facts .description{
        text-align: center;
        width: 100%;
    }
    .facts .description{
        margin-bottom: 50px;
    }
    .individual-facts {
        display: grid;
        text-align: center;
        gap: 28px;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }
    .sponsor-details {
        text-align: center;
        margin: 0;
        width: 100%;
        padding: 15px 50px 0;
        line-height: 25px;
    }
    .sponsor-img img{
        width: 100px;
    }
    .sponsor-img {
        display: grid;
        margin: 25px auto 50px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
        gap: 20px;
        justify-items: stretch;
    }
    footer {
        margin: 0 50px 80px;
    }
    footer p {  
        font-size: 13px;
    }
    
}
@media only screen and (min-width: 768px) and (max-width:991px){
    .navbar-container .title {
        font-size: 35px;
    }
    .brand-container{
        width: 100%;
    }
    .brand-container .title{
        font-size: 45px;
        margin-top: -40px;
        padding-bottom: 10px;
    }
    .brand-container .description {
        padding: 0 70px 28px;
        line-height: 23px;
        font-size: 18px;
    }
    .banner-container img {
        padding: 40px 20px;
    }
    .feature, .sponsor {
        padding: 0;
    }
    .feature-top {
        padding: 50px 85px;
    }
    .feature-top-left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-right: 20px;
    }
    .primary {
        font-size: 15px!important;
        margin-top: -15px;
    }
    .facts .title {
        font-size: 35px;
    }
    .sponsor-details h3 {
        font-size: 30px;
    }
    footer {
        margin: 0 30px 80px;
    }
    footer p {
        font-size: 12px;
        padding: 10px;
        line-height: 16px;
    }
    .feature-top-right .title {
        font-size: 20px;
        padding-bottom: 15px;
        font-weight: 500;
        color: #727272;
    }
    .feature-top-right .description {
        width: 100%;
    }
    .feature-top-left{
        margin-right: 25px;
    }
    .primary {
        padding: 15px 17px;
        font-size: 20px;
    }
    .feature-bottom {
        padding: 0 80px;
        display: block;
        text-align: center;
    }
    .feature-bottom-left {
        width: 100%;
        padding-right: 0;
    }
    .feature-bottom-left .title{
        border: 0;
    }
    .feature-bottom-left .description {
        font-size: 16px;
        line-height: 24px;
    }
    .feature-bottom-right img {
        margin-top: 35px;
    }
    .facts {
        margin: 30px 30px;
    }
    .facts .title, .facts .description {
        text-align: center;
        width: 50%;
        margin: 0 auto 10px;
    }
    .facts .description{
        margin-bottom: 50px;
    }
    .individual-facts {
        display: grid;
        text-align: center;
        gap: 28px;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
    }
    .sponsor-details {
        text-align: center;
        margin: 0 auto;
        width: 55%;
        padding: 15px 50px 0;
        line-height: 20px;
    }
    .sponsor-img img{
        width: 100px;
    }
    .sponsor-img {
        display: grid;
        margin: 25px auto 50px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
        gap: 20px;
        justify-items: stretch;
    }
    footer {
        margin: 0 50px 80px;
    }
    footer p {  
        font-size: 13px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .navbar-container .title {
        font-size: 35px;
    }
    .brand-container{
        width: 100%;
    }
    .brand-container .title{
        font-size: 45px;
        margin-top: -40px;
        padding-bottom: 10px;
    }
    .brand-container .description {
        padding: 0 130px 35px;
    }
    .banner-container img {
        padding: 40px 100px;
    }
    .feature, .sponsor {
        padding: 0;
    }
    .feature-top {
        padding: 50px 85px;
    }
    .feature-top-left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-right: 20px;
    }
    .primary {
        font-size: 15px!important;
        margin-top: -15px;
    }
    .facts .title {
        font-size: 35px;
    }
    .sponsor-details h3 {
        font-size: 30px;
    }
    footer {
        margin: 0 30px 80px;
    }
    footer p {
        font-size: 12px;
        padding: 10px;
        line-height: 16px;
    }
    .feature-top-right .title {
        font-size: 35px;
        padding-bottom: 15px;
        font-weight: 500;
        color: #727272;
    }
    .feature-top-right .description {
        width: 100%;
    }
    .feature-top-left{
        margin-right: 25px;
    }
    .primary {
        padding: 15px 17px;
        font-size: 20px;
    }
    .feature-bottom {
        padding: 0 80px;
        display: block;
        text-align: center;
    }
    .feature-bottom-left {
        width: 100%;
        padding-right: 0;
    }
    .feature-bottom-left .title{
        border: 0;
    }
    .feature-bottom-left .description {
        font-size: 16px;
        line-height: 24px;
    }
    .feature-bottom-right img {
        margin-top: 35px;
    }
    .facts {
        margin: 30px 30px;
    }
    .facts .title, .facts .description {
        text-align: center;
        width: 50%;
        margin: 0 auto 10px;
    }
    .facts .description{
        margin-bottom: 50px;
    }
    .individual-facts {
        display: grid;
        text-align: center;
        gap: 28px;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
    }
    .sponsor-details {
        text-align: center;
        margin: 0 auto;
        width: 55%;
        padding: 15px 50px 0;
        line-height: 20px;
    }
    .sponsor-img img{
        width: 100px;
    }
    .sponsor-img {
        display: grid;
        margin: 25px auto 50px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
        gap: 20px;
        justify-items: stretch;
    }
    footer {
        margin: 0 50px 80px;
    }
    footer p {  
        font-size: 13px;
    }
}
/* Responsive CSS end */